<% if @resource.sign_in_count == 0 %>

	<p><%= @resource.first_name %>,</p>

	<p>I'd like formally invite you to join our community at the Old Salt Company. We're looking forward to having you as a member and creating new memories together.</p>

	<p>To create your password, please click the link below:</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

	<p>Happy sailing,<br/>
	Sacha, Jess, and Stu<br />
	The Old Salt Company
	</p>

<% else %>

	<p><%= @resource.first_name %>,</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>

	<p>Your password won't change until you access the link above and create a new one.</p>

<% end %>