<div class="centered" id="logo-front">
	<%= image_tag "logo.png" %>
	<div class="double-line"></div>
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
	  Member login
	</button>
</div>
<%= render 'login' %>