<li class="<%= 'active' if current_page?(members_dashboard_path) %>">
	<%= link_to "Dashboard", members_dashboard_path %>
</li>
<li class="<%= 'active' if current_page?(new_member_path) %>">
	<%= link_to "Add member", new_member_path %>
</li>